.divRotate {
  z-index: -1;
  display: flex;
  justify-content: center;
  position: relative;
  visibility: hidden;
}

.rotate {
  position: absolute;
  margin-top: -25%;
  width: 140%;
  animation: rotation 250s infinite linear;
  visibility: hidden;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.divContent {
  font-family: "Roboto", sans-serif;
  padding-top: -10%;
}

.divContentInner {
  padding-top: 1%;
  background: rgb(140, 200, 220, 0.7);
}

@media only screen and (min-width: 600px) {
  .divRotate {
    visibility: visible;
  }
  .rotate {
    margin-top: -30%;
    width: 160%;
    visibility: visible;
  }
  .divContent {
    padding-top: 30%;
  }
  .divContentInner {
    padding-top: -10%;
    background: linear-gradient(
      rgb(0, 0, 0, 0),
      rgb(140, 200, 220, 0.1),
      rgb(140, 200, 220),
      rgb(140, 200, 220),
      rgb(140, 200, 220),
      rgb(140, 200, 220, 0.7),
      rgb(140, 200, 220, 0.7),
      rgb(140, 200, 220, 0.7),
      rgb(140, 200, 220, 0.7),
      rgb(140, 200, 220, 0.7)
    );
  }
}

@media only screen and (min-width: 900px) {
  .divRotate {
    visibility: visible;
  }
  .rotate {
    margin-top: -30%;
    width: 160%;
    visibility: visible;
  }
  .divContent {
    padding-top: 24%;
  }
  .divContentInner {
    padding-top: -10%;
    background: linear-gradient(
      rgb(0, 0, 0, 0),
      rgb(140, 200, 220, 0.1),
      rgb(140, 200, 220),
      rgb(140, 200, 220),
      rgb(140, 200, 220),
      rgb(140, 200, 220, 0.7)
    );
  }
}

@media only screen and (min-width: 1900px) {
  .divRotate {
    visibility: visible;
  }
  .rotate {
    margin-top: -25%;
    width: 127%;
    visibility: visible;
  }
  .divContent {
    padding-top: 18%;
  }
  .divContentInner {
    padding-top: -10%;
    background: linear-gradient(
      rgb(0, 0, 0, 0),
      rgb(140, 200, 220, 0.1),
      rgb(140, 200, 220),
      rgb(140, 200, 220),
      rgb(140, 200, 220),
      rgb(140, 200, 220, 0.7)
    );
  }
}
