/* .divCenter {
  display: flex;
  align-items: center;
  justify-content: "center";
} */

.divFrame {
  justify-content: space-between;
  display: flex;
  padding: 20px;
}

.alignLeft {
  margin-left: 10px;
}

.alignRight {
  margin-left: auto;
  margin-right: 10px;
}

.divBackground {
  background-color: #f1f1f1;
  height: 100vh;
}

img.animatedGif {
  width: 100%;
  height: auto;
}

a.hover {
  text-decoration: none;
}
a.hover:hover {
  text-decoration: underline;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}

@media only screen and (max-width: 600px) {
  footer {
    display: none;
  }
}


@media only screen and (min-width: 600px) {
  .gif {
    padding-top: 20px;
  }
}

@media only screen and (min-width: 900px) {
  .gif {
    padding-top: 10px;
  }
}
